.aside {
  grid-area: aside;
  background-color: floralwhite;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70px;
  height: 100vh;
  width: 265px;
}

.aside-content {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
  flex-grow: 1;
}

.aside-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
}

.aside-item:hover {
  background-color: rgb(222, 228, 210);
}

.aside-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  align-self: center;
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
  font-size: large;
  background-color: rgb(222, 228, 210);
}

.aside-divider {
  position: fixed;
  bottom: 150px;
  width: 265px;
  opacity: 0.15;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.p-name {
  width: 100px;
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.p-name:hover {
  color: #018d5a;
  text-shadow: 1px 1px 5px #a8e7d0;  
}

.icon-circle {
  color: red;
  font-size: x-small;
  margin-right: 10px;
  animation: blur 2s linear infinite;
  animation-direction: alternate;
}

.hidden-icon {
  visibility: hidden;
  font-size: x-small;
  margin-right: 10px;
}

.icon-contact {
  color: black;
  font-size: x-large;
  margin-right: 10px;
  cursor: pointer;
}

.icon-contact:hover {
  color: #25A1E1;
}

.span {
  font-size: large;
}

.contact {
  align-items: center;
  margin-top: 25px;
} 

@keyframes blur {
  from {
    text-shadow: 
    0px 0px 1px orangered,      
    0px 0px 1px orangered,      
    0px 0px 1px orangered,      
    0px 0px 5px darksalmon,
    0px 0px 5px darksalmon,
    0px 0px 5px darksalmon,
    0px 0px 10px salmon,
    0px 0px 10px salmon,
    0px 0px 10px salmon;
  }
  to {
    text-shadow: 
    0px 0px 0px orangered,
    0px 0px 0px darksalmon,
    0px 0px 0px salmon;
  }
}

@media (max-width: 1200px) {
  .aside-content {
    width: 90px;
    max-height: 100vh;
  }
  .aside-item p, i {
    visibility: hidden;
  }
  .aside-footer {
    display: none;
  }
}
