.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  width: calc(100% - 40px);
  height: 70px;
  padding: 0 20px;
  align-items: center;
  box-shadow: 0px 1px 3px gray;
  color: #04AA6D;
  background-color: azure;
  z-index: 100;
}

.icon-cat {
  font-size: 2.5em;
  cursor: pointer;
}

.title {
  font-size: 2.5em;
  font-weight: 550;
  margin-left: 10px;
  cursor: pointer;
}
