.main-panel {
  grid-area: content;
  overflow-x: auto;
  overflow-y: scroll;
  height: calc(100vh - 70px);
  width: 100%;
  background-color: azure;
}

.main-panel ::-webkit-scrollbar {
  height: 0;
}

.main-panel-header {
  display: flex;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.item {
  min-width: max-content;
  padding: 10px 15px;
  margin: 20px;
  background-color: mistyrose;
  border: 2px solid gray;
  border-radius: 20px;
}

.main-panel-container {
  display: flex;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 500px;
  transform-style: preserve-3d;
  align-self: center;
  margin: auto;
}

input[type="radio"] {
  display: none;
}

.card {
  display: flex;
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  box-shadow: 10px 20px 10px gray;
}

.card-text-container {
  display: flex;
  width: 250px;
  padding: 20px;
  background-color: mistyrose;
}

.card-text {
  margin-top: 0;
}

.comment-title {
  display: block;
  width: 200px;
  font-size: x-large;
}

.comment-writer {
  font-style: italic;
  text-shadow: 1px 1px 3px yellowgreen; 
  margin-bottom: 40px; 
}

.comment {
  margin-left: -60px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  position: relative;
  background: #000;
  overflow: hidden;
}

.img:hover img,
.video-img:hover img {
  opacity: 0.7;
}

.img:hover .center-icon,
.video-img:hover .center-icon {
  visibility: visible;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  font-size: xx-large;
  visibility: hidden;
  cursor: pointer;
}


#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px 70px;
}

.video-item {
  margin-bottom: 50px;
  padding: 20px;
}

.video-info {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.video-info-text {
  flex-grow: 1;
  cursor: pointer;
}

.video-info-text span {
 font-size: x-large;
 font-weight: 550;
}

.video-info-text p {
  margin: 0;
}

.video-img {
  position: relative;
  height: 265px;
  background: #000;
  overflow: hidden;
  cursor: pointer;
}
