.menu {
  display: flex;
  justify-content: end;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  right: 0;
  margin-left: 20px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  cursor: pointer;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #25A1E1;
}

.icon-bell {
  align-self: center;
  margin-right: 15px;
  color: #C1C1C1;
  font-size: x-large;
  cursor: pointer;
}

.icon-bell:hover {
  color: gray;
}

.icon-item {
  margin-right: 15px;
}

.dropdown-content a:last-child {
  color: red
}

.menu-divider {
  margin: 0;
  opacity: 0.7;
}
