body {
  margin: 0;
  font-family: monospace;
  scrollbar-width: thin;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 265px 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas: "header header" "aside content" "aside footer";
} 

::selection {
  background-color: #04AA6D;
}

::-webkit-scrollbar-track {
	background-color: rgb(212, 231, 224);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgb(212, 231, 224);
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: #04AA6D;
}
