.search {
  display: flex;
}

.search-input {
  width: 100%;
  max-width: 350px;
  border: 1px solid grey;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
  border-radius: 5px 0 0 5px;
}

.search-input:focus {
  box-shadow: inset 0 0 0 1px #2dac7d;
}

.search-button {
  width: 32px;
  height: 32px;
  border: 1px solid grey;
  text-align: center;
  font-size: xx-small;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: lightgray;
}

.icon-search {
  color: black;
  font-size: small;
}

.icon-microphone {
  align-self: center;
  margin-left: 10px;
  color: #C1C1C1;
  font-size: x-large;
  cursor: pointer;
}

.icon-microphone:hover {
  color: gray;
}
